spc:
  secrets:
    - k8sSecretDataKey: oidc.azure.client_id
      kvObjectName: aad-app-hello-azure-gitops-client-id
    - k8sSecretDataKey: oidc.azure.client_secret
      kvObjectName: aad-app-hello-azure-gitops-client-secret