keeper:
  image:
    repository: {{ .Values.plain.registryUrl }}/busybox
    tag: {{ .Values.versions.images.busybox.tag | quote }}
spc:
  kvName: {{ .Values.params.keyVaults.sensitive.name }}
  tenantId: {{ requiredEnv "ARM_TENANT_ID" }}
  identityId: {{ .Values.params.identities.keyVaultSecretsProvider.clientId }}
  labels:
    app: argocd
    app.kubernetes.io/part-of: argocd