global:
  defaultStorageClass: default-zrs
clusterOperator:
  image:
    registry: {{ .Values.plain.registryUrl }}
    repository: bitnami/rabbitmq-cluster-operator
    tag: {{ .Values.versions.images.rabbitmqClusterOperator.tag | quote }}
  nodeSelector:
    scalability: steady
    lifecycle: persistent
  watchAllNamespaces: false
  # watchNamespaces: #TODO
  #   - unique
msgTopologyOperator:
  image:
    registry: {{ .Values.plain.registryUrl }}
    repository: bitnami/rmq-messaging-topology-operator
    tag: {{ .Values.versions.images.rabbitmqMsgTopologyOperator.tag | quote }}
  nodeSelector:
    scalability: steady
    lifecycle: persistent
  # Matches 'nano' Preset which is the default
  # https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15